*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: 0 0.5em;
  cursor: pointer;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.8em;
  gap: 1em;
}
.app-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin-bottom: 3em;
}
.menu-icon {
  width: 2%;
}
.menu-items {
  font-size: 0.8rem;
}

.avatar {
  width: 3%;
  border-radius: 50%;
  /* margin: 0 0.3em; */
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  position: relative;
}
.form_input {
  width: 50%;
}
.search_input {
  width: 100%;
  padding: 1em;
  border-radius: 2em;
  outline: none;
  padding-left: 3.5em;
}
.value {
  position: absolute;
  top: 3.5em;
  border: 1px solid black;
  /* left: 0.5em; */
}
.form_input ::placeholder {
  font-size: 1rem;
}
.search_icon img {
  width: 2%;
  position: absolute;
  bottom: 0.8em;
  right: 54em;
}
.microphone img {
  position: absolute;
  right: 20em;
  bottom: 0.5em;
}
.google_btn {
  display: flex;
  justify-content: center;
  gap: 4em;
}
.google_btn button {
  padding: 0.5em;
}
.lang {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}
.lang span {
  margin-right: 1em;
  cursor: pointer;
}
.lang span:hover {
  color: blue;
}
.country {
  border-bottom: 1px solid #000;
  background-color: rgb(243, 238, 238);
}
.footer {
  margin-top: 4.5em;
  background-color: rgb(243, 238, 238);
}
.footer_links {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 0;
}
.first_link {
  display: flex;
}
.carbon {
  display: flex;
  gap: 1em;
}
.second_link {
  display: flex;
}
